.landing {
  padding-bottom: 48px;
}

.landing-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jonHimself {
  height: 520px;
}

.info {
  font-size: 28px;
}

.info-name {
  color: rgb(100, 125, 214);
  font-size: 32px;
}

.blurb {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding-top: 24px;
}

@media only screen and (max-width: 720px) {
  .landing-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .jonHimself {
    height: 350px;
  }
  .info {
    font-size: 20px;
  }
  .info-name {
    font-size: 26px;
  }
}
